*{
	text-align: center;
}

h1 {
	font-size: 36pt;
}
h2 {
	font-size: 24pt;
}
h3 {
	font-size: 20pt;
	color: #555555;
}
a {
	font-size: 18pt;
}
p {
	font-size: 16pt;
}

ul {
	list-style-type: none;
}
	
table {
	width: 100%;
}
td {
	font-size: 18pt;
	vertical-align: top;
}
button {
	font-size: 18pt;
	background-color: blue;
	color: white;
	border: none;
	padding: 15px 30px;
}
.logo {
	height: 100px
}
.three {
	width: 33.33%;
}
